
.d1{
    width:300px;
    height:500px;
    background-color:white;
    padding:30px;
     }
     img{
        height:50px;
        align-items: center;
        }
     .center{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:20%;
         }
     .bg{
        background-color:217C7E;
        }
     .d2{
        width:300px;
        height:300px;
        background-color:#ACD1E9;
        padding:30px;
        }
     .m1{
        width:300px;
        height:300px;
        background-color:#ACD1E9;
        padding:30px;
       }
     
     .fcontainer{
        display:flex;
        padding:20px;
        }
     .container{
        padding:30px;
       }
     .gcontainer{
        display:flex;
           }
     .col-4{
        margin:12px;
       }
     .k{
         display:flex;
        }
     h2{
        text-align:right;
        color:white;
        }
     h2:hover{
        color:990033;
        transform:scale(1.2);
           }
     .d{
        display:flex;
        justify-content:right;
        }
     .m3:hover{
        color:crimson;
        }
     .m4{
        color:white;
        }
    